.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #edbecb; /* 이미지 배경색과 비슷하게 */
  padding: 40px 100px 40px 100px;
  border-top: 1px solid #d9d4d0;
}

.header-logo .logo-link {
  font-size: 2rem;
  font-weight: 900;
  color: #937f85ff;
  letter-spacing: none;
  text-decoration: none;
  opacity: 0.7;
}

.header-menu {
  display: flex;
  gap: 32px; /* 메뉴 간격 */
}

.header-menu .menu-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: #937f85ff;
  text-decoration: none;
  letter-spacing: 0.1em;
  transition: color 0.2s;
}
.header-menu .menu-link:hover {
  color: #f0dfe4ff;
}
