.App {
  text-align: center;
}
.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* 전체 높이: 뷰포트 100% */
}

.app-main {
  flex: 1 0 auto;     /* 본문이 최대한 공간 차지 */
  display: flex;
  flex-direction: column;
}


